@media screen and (min-width: 750px){
/*
    .check{
        display: flex;
    }

    input[type=checkbox]{
        float: left;
    }
*/



    #boxing{
        display: flex;
    }
   

    .cancelbtn {
        width: auto;
        margin-right: 3.125rem;
     }









}